<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Decider Interview Guide: Understanding Perspectives for Successful Design Sprints | SprintLab</title>
    <meta name="description" content="Gain valuable insights into the decider's perspective with our comprehensive Decider Interview Guide. 
    Understand their vision, decision-making process, constraints, expectations, and goals for the Design Sprint. Adapt the interview 
    questions to fit your project context and unlock crucial information to support successful design sprints.">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://sprintlab.cc/">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="teppo">
    <!-- favivons -->
    
    <link href="../assets/css/bootstrap.css" rel="stylesheet">    
  </head>
  <!-- GA tag  -->
  <body>    
    <div class="col-lg-8 mx-auto p-4 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
        <img src="../assets/img/logo.svg" style="height:32px;margin-right:10px;"><span class="fs-4">SprintLab</span>
      </header>
      <main>
        <p class="small" aria-label="breadcrumb"><a href="../index.html">Home</a></p>
        <p class="fs-5 lead">
          Starter Templates
        </p>
        <h1 class="col-md-8 fw-bold mb-3">The Decider Interview</h1>
        <hr class="col-3 col-md-2 mb-5">
        <div class="row g-5">
          <div class="col-md-12">
            <h3 class="text-body-emphasis">
              Learn From the Project Deciders
            </h3>
            <p>
              Understanding the decider's perspective is crucial to the success of a design sprint, and this interview guide will equip you with the 
              right questions to gain valuable insights. By exploring topics such as the decider's vision, decision-making process, constraints, 
              and expectations for the Design Sprint, you'll develop a deeper understanding of their perspective and be better equipped to tailor 
              the sprint accordingly.
              </p>
            <h5 class="mt-4">Interview Guide Outline</h5>
            <p>
              The goal of this interview guide is to understand the decider's perspective on the project. Adapt these questions to fit the specific 
              context of your project and the person you're interviewing.
            </p>
            <ol>
              <li>
                Introduction
                <ul>
                  <li>Briefly explain the purpose of the interview and the topics that will be discussed.</li>
                  <li>Assure confidentiality and encourage honesty.</li>
                </ul>
              </li>
              <li>
                Understanding their Vision
                <ul>
                  <li>Can you describe the overall vision for this project?</li>
                  <li>What would be the ideal outcome from the Design Sprint for this project?</li>
                  <li>How does this project align with broader organizational goals or objectives?</li>
                  <li>Can you describe the users or customers we are focusing on in this project?</li>
                  <li>What value do we want to deliver to them?</li>
                </ul>
              </li>
              <li>
                Understanding their Decision-Making Process
                <ul>
                  <li>Can you describe your decision-making process?</li>
                  <li>Who else is involved in the decision-making process for this project?</li>
                  <li>How do you evaluate the success of a decision?</li>
                  <li>What factors are most important when making a decision for this project?</li>
                  <li>How do you manage disagreements or conflicts in decision-making?</li>
                </ul>
              </li>
              <li>
                Understanding Constraints and Barriers
                <ul>
                  <li>What are some potential challenges or obstacles you foresee for this project?</li>
                  <li>Are there any technical, budgetary, or time constraints that we should be aware of?</li>
                  <li>Do you see any potential risk or issues with user adoption?</li>
                  <li>Are there any internal or external factors that could impact the progress of the project?</li>
                </ul>
              </li>
              <li>
                Expectations and Goals for the Design Sprint
                <ul>
                  <li>What are your specific expectations from the upcoming Design Sprint?</li>
                  <li>Are there any aspects or questions you want us to particularly focus on during the Sprint?</li>
                  <li>How can the Sprint best support your decision-making process?</li>
                </ul>
              </li>
              <li>
                Closing
                <ul>
                  <li>Do you have any questions or concerns about the upcoming Design Sprint?</li>
                  <li>Is there anything else important about this project that we haven't discussed?</li>
                </ul>
              </li>
            </ol>
  
            <div class="dropup mt-5">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Starter Templates
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="../index.html">&larr; Back Home</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="design-sprint-research-tasks.html">Research Tasks</a>
                <a class="dropdown-item active" href="design-sprint-decider-interview.html">Decider Interview</a>
                <a class="dropdown-item" href="design-sprint-participant-survey.html">Participant Survey</a>
                <a class="dropdown-item " href="design-sprint-brief.html">Sprint Brief</a>
              </div>
            </div>
            <br>
            <p><a href="#" onclick="printPageContent();">Print this page</a></p>
            <script>
                function printPageContent() {
                    window.print();
                }
            </script>
          </div>
        </div>
      </main>
      <footer class="pt-5 my-5 text-body-secondary border-top">
        &copy; 2023 sprintlab.cc | <a href="mailto:sprintlab@post.com">Contact</a>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>