<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>The Sprint Brief: Guiding the Design Sprint Journey | SprintLab</title>
    <meta name="description" content="Discover the pivotal role of the sprint brief in the design sprint journey. Learn how this crucial document captures 
    essential information, goals, and challenges, providing clarity and alignment for the team. Explore the benefits of a well-crafted sprint brief in 
    fostering collaboration, focused ideation, and effective decision-making. Access a comprehensive template to create your own sprint brief, ensuring 
    a purposeful and structured design sprint adventure that leads to meaningful results.">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://sprintlab.cc/">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="teppo">
    <!-- favivons -->
    
    <link href="../assets/css/bootstrap.css" rel="stylesheet">    
  </head>
  <!-- GA tag  -->
  <body>    
    <div class="col-lg-8 mx-auto p-4 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
        <img src="../assets/img/logo.svg" style="height:32px;margin-right:10px;"><span class="fs-4">SprintLab</span>
      </header>
      <main>
        <p class="small" aria-label="breadcrumb"><a href="../index.html">Home</a></p>
        <p class="fs-5 lead">
          Starter Templates
        </p>
        <h1 class="col-md-8 fw-bold mb-3">Design Sprint Brief</h1>
        <hr class="col-3 col-md-2 mb-5">
        <div class="row g-5">
          <div class="col-md-12">
            <h3 class="text-body-emphasis">
              Guiding the Design Sprint Journey
            </h3>
            <p>
              The sprint brief plays a pivotal role in the design sprint journey, serving as a compass that guides the team throughout the entire process. 
              It is a crucial document that captures the essential information, goals, and challenges to be addressed during the sprint. The sprint brief 
              provides clarity and alignment, ensuring that everyone involved has a shared understanding of the sprint's purpose, objectives, and desired 
              outcomes. By establishing a solid foundation from the start, the sprint brief sets the stage for productive collaboration, focused ideation, 
              and effective decision-making. It serves as a reference point, keeping the team on track and enabling them to channel their energy towards 
              creating innovative solutions. With a well-crafted sprint brief, the design sprint journey becomes a purposeful and structured adventure, 
              leading to meaningful results.
            </p>
            <h5 class="mt-4">Sprint Brief Template</h5>
            <p>Adapt these sections to fit the specific context of your project.</p>
            <hr class="col-2 col-md-1 mb-3">
            <h6 class="mt-4">COMPANY/PROJECT NAME</h6>
            <h6>Design Sprint Brief</h6>
            <ol>
              <li>
                Sprint Goals
                <ul>
                  <li>Clearly define the goals and objectives of the design sprint.</li>
                  <li>Outline what you aim to achieve and the desired outcomes.</li>
                </ul>
              </li>
              <li>
                Problem Statement
                <ul>
                  <li>Provide a concise statement that encapsulates the problem or challenge to be addressed.</li>
                  <li>Clearly articulate the pain points and areas for improvement.</li>
                </ul>
              </li>
              <li>
                Key Stakeholders
                <ul>
                  <li>Identify the main stakeholders involved in the design sprint.</li>
                  <li>Specify their roles and responsibilities within the sprint process.</li>
                </ul>
              </li>
              <li>
                Sprint Timeline
                <ul>
                  <li>Outline the duration of the sprint, including specific dates for each day's activities.</li>
                  <li>Communicate the expected time commitment from participants.</li>
                </ul>
              </li>
              <li>
                User Insights
                <ul>
                  <li>Summarize any existing research or insights that inform the sprint (see <a href="design-sprint-research-tasks.html">Research Tasks</a>).</li>
                  <li>Provide relevant background information about the target users.</li>
                </ul>
              </li>
              <li>
                Deliverables
                <ul>
                  <li>Specify the expected deliverables at the end of the sprint.</li>
                  <li>Outline the tangible outcomes, such as prototypes, user feedback, or validation results.</li>
                </ul>
              </li>
              <li>
                Design Challenges
                <ul>
                  <li>Highlight the key design challenges or areas that need focus during the sprint.</li>
                  <li>Identify any constraints or limitations to be considered.</li>
                </ul>
              </li>
              <li>
                Design Sprint Team
                <ul>
                  <li>List the names and roles of the team members participating in the sprint.</li>
                  <li>Clearly define the expertise and skills they bring to the sprint.</li>
                </ul>
              </li>
              <li>
                Success Criteria
                <ul>
                  <li>Define the metrics or criteria that will determine the success of the design sprint.</li>
                  <li>Specify the indicators that will gauge the achievement of goals.</li>
                </ul>
              </li>
              <li>
                Additional Notes
                <ul>
                  <li>Include any additional information, considerations, or specific instructions relevant to the design sprint.</li>
                </ul>
              </li>
            </ol>
          
           

            

            <div class="dropup mt-5">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Starter Templates
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="../index.html">&larr; Back Home</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="design-sprint-research-tasks.html">Research Tasks</a>
                <a class="dropdown-item" href="design-sprint-decider-interview.html">Decider Interview</a>
                <a class="dropdown-item" href="design-sprint-participant-survey.html">Participant Survey</a>
                <a class="dropdown-item active" href="design-sprint-brief.html">Sprint Brief</a>
              </div>
            </div>
            <br>
            <p><a href="#" onclick="printPageContent();">Print this page</a></p>
            <script>
                function printPageContent() {
                    window.print();
                }
            </script>
          </div>
        </div>
      </main>
      <footer class="pt-5 my-5 text-body-secondary border-top">
        &copy; 2023 sprintlab.cc | <a href="mailto:sprintlab@post.com">Contact</a>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>